OpenCC
strokes

# For excel files and other sources
openpyxl
xlrd
beautifulsoup4

zstandard
#gensim use git version for now to fix scipy incompatibility
git+https://github.com/piskvorky/gensim.git
scikit-learn
skops
skl2onnx
onnxruntime
numpy<2.0.0 # Needed by onnxruntime and skops
